<div id="jumbo" class="jumbotron jumbotron-fluid">
  <div class="container">
  </div>
  <div id="menu">Menu</div>
</div>
</div>
<div id="text" class="col-12">
  <br>
  <br>

  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/unless}}
  {{/each}}

  <br>
  <br>
  <div class="col-12">
    <h2>hamburger eaten!</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>

  <div class="col-6">
    <h2>Add a burger</h2>
    <form class="create-form" class="col-6">

      <div class="form-group" class="col-12">
        <label for="burgerName"id="burgerName" >Burger Name:</label>
        <input type="text" id="burgerText" name="burger_name">

        <button type="button" id="submit" id="buttons" type="button" class="btn btn-outline-warning btn-lg">Add
          burger</button>
      </div>
  </div>
  </form>
</div>