#jumbo{
    background-color: #FFC72C;
    margin-top: -45px;
    height: 100px;
}

#menu{
    font-family: 'Shrikhand', cursive;
    color: #DA291C;
    font-size: 50px;
    text-align: center;
    
}
body{
background: url(../img/burgerRealistic.jpg);
background-size: 100% 100%;
}

#text{
    font-family: 'Shrikhand', cursive;
    color: #FFC72C;;
    border-color: #FFC72C;
}

#buttons{
    color:#DA291C
}

#submit{
    color:#DA291C
}

#burgerName{
    opacity: .4;
}